
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>

<input type="text" bpDatePicker style="width: 400px;" [minDate]="minDate" [maxDate]="maxDate" [closed]="isClosed" (click)="toggleClosed()" (closedEmitter)="closeCalled
($event)" />

<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
