<div class="modal">
    
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>

<input type="text" bpDatePicker style="width: 400px;" [minDate]="minDate" [maxDate]="maxDate" [closed]="isClosed" [fromDate]="minDate" (click)="toggleClosed()" (closedEmitter)="closeCalled
($event)" [dateRange]="true" />

<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>
<div class="database">database</div>

</div>