<div class="bp-datepicker-wrapper" id="bp-datepicker-wrapper">
  <div class="bp-datepicker-header">
    <div class="flex-row-day">
      <div class="flex-row-item first">
        <span (click)="prev()" class="prevIcon">
<svg viewBox="0 0 9 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>Chevron Down</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-35.000000, -12.000000)" stroke="#BBBBBB" stroke-width="2">
            <g id="Chevron-Down" transform="translate(36.000000, 20.000000) rotate(-90.000000) translate(-36.000000, -20.000000) translate(29.000000, 13.000000)">
                <polyline id="Rectangle-4" transform="translate(7.000000, 6.688961) rotate(-45.000000) translate(-7.000000, -6.688961) " points="11.5 11.188961 2.5 11.188961 2.5 2.188961 2.5 2.188961"></polyline>
            </g>
        </g>
    </g>
</svg>
        </span>
      </div>
      <div class="flex-row-item twoOptions" [hidden]="currentViewType != viewTypes.dateView">
        <span class="headerButton" (click)="getMonthView()">{{ month }}</span>
        &nbsp; &nbsp;
        <span class="headerButton" (click)="getYearView()">{{ year }}</span>
      </div>
      <div class="flex-row-item" [hidden]="currentViewType != viewTypes.monthView">
        <span class="headerButton" (click)="getYearView()">{{ year }}</span>
      </div>
      <div class="flex-row-item" [hidden]="currentViewType != viewTypes.yearView">
        <span *ngIf="yearArray">{{ yearArray[0]['name'] }} - {{ yearArray[15]['name'] }}</span>
      </div>
      <div class="flex-row-item">
        <span (click)="next()" class="nextIcon">
<svg viewBox="0 0 9 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <title>Chevron Down</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Portfolio" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-35.000000, -12.000000)" stroke="#BBBBBB" stroke-width="2">
            <g id="Chevron-Down" transform="translate(36.000000, 20.000000) rotate(-90.000000) translate(-36.000000, -20.000000) translate(29.000000, 13.000000)">
                <polyline id="Rectangle-4" transform="translate(7.000000, 6.688961) rotate(-45.000000) translate(-7.000000, -6.688961) " points="11.5 11.188961 2.5 11.188961 2.5 2.188961 2.5 2.188961"></polyline>
            </g>
        </g>
    </g>
</svg>
        </span>
      </div>
    </div>
  </div>
  <div class="bp-datepicker-body" [hidden]="currentViewType != viewTypes.dateView">
    <div class="dateView">
      <div class="bp-heading">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div *ngFor="let weekNumber of weekArray; let i = index" class="rows">
        <div *ngFor="let weekDay of dateArray[i];let j = index" class="cell">
          <span *ngIf="weekDay?.dateNumber"
            [ngClass]="{ 'bp-disabled-date' : weekDay.disabled , 'bp-enabled-date' : !weekDay.disabled , 'selected': weekDay.selected }"
            [class.rangeSelectedMid]="weekDay.rangeSelectedMid"
            [class.rangeSelectedStart]="weekDay.rangeSelectedStart"
            [class.rangeSelectedEnd]="weekDay.rangeSelectedEnd"
            [class.onlyFirstDate]="weekDay.onlyFromDate"
            (click)="!weekDay.disabled && setSelection(weekDay)">
            <span class="dateData">
              {{ weekDay.dateNumber }}
              <span class="description" *ngIf="weekDay.description" [appTooltip]="weekDay.description">
                &nbsp;
              </span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="bp-datepicker-body" [hidden]="currentViewType != viewTypes.monthView">
    <div class="monthView">
      <div class="month" *ngFor="let month of monthsData">
        <div (click)="getSelectedMonth(month)"
          [ngClass]="{ 'bp-disabled-month' : month.disabled , 'bp-enabled-month': !month.disabled }">
          {{ month.name }}
        </div>
      </div>
    </div>
  </div>
  <div class="bp-datepicker-body" [hidden]="currentViewType != viewTypes.yearView">
    <div class="yearView">
      <div class="year" *ngFor="let yearData of yearArray">
        <div (click)="getSelectedYear(yearData)"
          [ngClass]="{ 'bp-disabled-year' : yearData.disabled , 'bp-enabled-year': !yearData.disabled }">
          {{ yearData.name }}
      </div>
      </div>
    </div>
  </div>
</div>
