.bp-datepicker-wrapper,
.bp-datepicker-header,
.bp-datepicker-body {
  width: 100%;
}

.bp-datepicker-header {
  font-size: 18px;
}

.bp-datepicker-wrapper {
  background: white;
  border: solid 2px #006341;
  border-top: none;
  padding-top: 2px;
}

.bp-datepicker-header {
  margin-top: 10px;

  span.headerButton {
    padding: 5px;
    border-radius: 5px;
    color: #bbb;
    cursor: pointer;
  }

  .nextIcon {
    display: block;
    width: 10px;
    height: 20px;
    margin: 0 auto;
    cursor: pointer;
  }

  .prevIcon {
    display: block;
    width: 10px;
    height: 20px;
    margin: 0 auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.flex-row-day {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  .flex-row-item {
    text-align: center;
    width: 70%;

    &:first-of-type {
      width: 15%;
    }

    &:last-of-type {
      width: 15%;
    }
  }
}

.bp-datepicker-body {
  .dateView {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;

    div.bp-heading {
      color: #bbbbbb;
      width: 100%;
      display: flex;

      div {
        align-content: space-around;
        width: calc(100%/7);
      }

      clear: both;
    }

    .rows {
      width: 100%;
      display: flex;
      margin-bottom: 5px;

      div {
        text-align: center;
        width: calc(100%/7);
        align-content: space-around;
        float: left;

        span.bp-enabled-date {
          color: #bbbbbb;
          cursor: pointer;
        }

        span.bp-disabled-date {
          color: #666666;

          .dateData {
            .description {
              height: 0px;
              width: 100%;
              margin-top: -17px;
              .circle{
                height: 8px;
                width: 8px;
                background-color: #78be20;
                border-radius: 50%;
                margin-left: calc(50% - 4px);
                cursor: pointer;
              }

              #tooltipDiv {
                text-align: left !important;
                float: none;
                width: auto;
                line-height: initial;
                position: absolute;
                border: solid 2px #006341;
                border-radius: 5px;
                background: white;

                .innerText {
                  text-align: left;
                  float: none;
                  width: auto;
                  align-content: center;
                  line-height: normal;
                  padding: 5px;
                }
              }
            }
          }
        }

        span {
          display: block;
          line-height: 57px;

          :last-of-type {
            &.rangeSelectedMid {
              border-top-right-radius: 50%;
              border-bottom-right-radius: 50%;
            }
          }

          :first-of-type {
            &.rangeSelectedMid {
              border-top-left-radius: 50%;
              border-bottom-left-radius: 50%;
            }
          }
        }

        span.selected {
          background: #78be20;
          color: white;
          border-radius: 50%;
        }

        span.rangeSelectedMid {
          background: #78be20;
          color: #006341;
        }

        span.rangeSelectedStart {
          background: #78be20;
          color: white;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;

          &.onlyFirstDate {
            border-radius: 50%;
          }
        }

        span.rangeSelectedEnd {
          background: #78be20;
          color: white;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }
    }
  }

  .monthView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .month {
      width: 33.33%;
      text-align: center;

      div {
        line-height: 57px;
        padding: 7px;
        border-radius: 5px;
        vertical-align: middle;
      }

      div.bp-disabled-month {
        color: #666666;
      }

      div.bp-enabled-month {
        color: #bbb;
        cursor: pointer;
      }
    }
  }

  .yearView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .year {
      width: 25%;
      text-align: center;

      div {
        line-height: 57px;
        padding: 7px;
        border-radius: 5px;
        vertical-align: middle;
      }

      div.bp-disabled-year {
        color: #666666;
      }

      div.bp-enabled-year {
        color: #bbb;
        cursor: pointer;
      }
    }
  }
}

// :host-context(.dark-theme) {
//   .bp-datepicker-wrapper {
//     background: #2d2d30;
//     border-color: #7e5475;

//     .bp-datepicker-header {
//       span.headerButton {
//         color: #d1d1d1;

//         &:hover {
//           background: #000000;
//         }
//       }
//     }

//     .bp-datepicker-body {
//       div.dateView {
//         display: block;

//         div.bp-heading {
//           color: #bbbbbb;
//         }

//         td>span.bp-enabled-date {
//           color: #d1d1d1;

//           &:hover {
//             background: #000000;
//           }
//         }

//         td>span.bp-disabled-date {
//           color: #666666;
//         }

//         td>span.selected {
//           background: #7e5475;
//           color: white;

//           &:hover {
//             background: #000000 !important;
//           }
//         }
//       }

//       .monthView {
//         .month {
//           div.bp-disabled-month {
//             color: #bbbbbb;
//           }

//           div.bp-enabled-month {
//             color: #666666;

//             &:hover {
//               background: #000000;
//             }
//           }
//         }
//       }

//       .yearView {
//         .year {
//           div.bp-disabled-year {
//             color: #bbbbbb;
//           }

//           div.bp-enabled-year {
//             color: #666666;

//             &:hover {
//               background: #000000;
//             }
//           }
//         }
//       }
//     }
//   }
// }
